.mb-0\.5 {
    margin-bottom: @size005;
}
.mb-1 {
    margin-bottom: @size010;
}
.mb-1\.5 {
    margin-bottom: @size015;
}
.mb-2 {
    margin-bottom: @size020;
}
.mb-2\.5 {
    margin-bottom: @size025;
}
.mb-3 {
    margin-bottom: @size030;
}
.mb-3\.5 {
    margin-bottom: @size035;
}
.mb-4 {
    margin-bottom: @size040;
}
.mb-5 {
    margin-bottom: @size050;
}
.mb-6 {
    margin-bottom: @size060;
}
.mb-7 {
    margin-bottom: @size070;
}
.mb-8 {
    margin-bottom: @size080;
}
.mb-9 {
    margin-bottom: @size090;
}
.mb-10 {
    margin-bottom: @size100;
}
.mb-11 {
    margin-bottom: @size110;
}
.mb-12 {
    margin-bottom: @size120;
}
.mb-14 {
    margin-bottom: @size140;
}
.mb-16 {
    margin-bottom: @size160;
}
.mb-18 {
    margin-bottom: @size180;
}