.mt-0\.5 {
    margin-top: @size005;
}
.mt-1 {
    margin-top: @size010;
}
.mt-1\.5 {
    margin-top: @size015;
}
.mt-2 {
    margin-top: @size020;
}
.mt-2\.5 {
    margin-top: @size025;
}
.mt-3 {
    margin-top: @size030;
}
.mt-3\.5 {
    margin-top: @size035;
}
.mt-4 {
    margin-top: @size040;
}
.mt-5 {
    margin-top: @size050;
}
.mt-6 {
    margin-top: @size060;
}
.mt-7 {
    margin-top: @size070;
}
.mt-8 {
    margin-top: @size080;
}
.mt-9 {
    margin-top: @size090;
}
.mt-10 {
    margin-top: @size100;
}
.mt-11 {
    margin-top: @size110;
}
.mt-12 {
    margin-top: @size120;
}
.mt-14 {
    margin-top: @size140;
}
.mt-16 {
    margin-top: @size160;
}
.mt-18 {
    margin-top: @size180;
}